target/
!.mvn/wrapper/maven-wrapper.jar
.idea/
.idea
.apt_generated
.classpath
.factorypath
.project
.settings
.springbeans
*.iws
*.iml
*.ipr

build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/
.mvn/
mvnw.cmd
mvnw